<div class="login-grey-background">
    <div class="login-white-container-register">
      <%= image_tag("login/logo-loopcommerce@3x.png", :class => "logo-loopcommerce") %>
      <%= image_tag("login/loopcommerce@3x.png", :class => "Loopcommerce") %>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
        
        <div class="field-email">
          <%= f.label :email, "Email", :class => "label-email" %>
          <label class="required-email">(required)</label>
        </div>
        <%= f.email_field :email, placeholder: "Type your email", :class => "Rectangle-6" %>

        <div class="field-name">
          <%= f.label :name , "First Name", :class => "label-email" %>
          <label class="required-name">(required)</label>
        </div>
        <%= f.text_field :name, placeholder: "Type your first name", :class => "Rectangle-6" %>

        <div class="field-surname">
          <%= f.label :surname, "Last Name", :class => "label-email" %>
          <label class="required-surname">(required)</label>
        </div>
        <%= f.text_field :surname, placeholder: "Type your last name", :class => "Rectangle-6" %>

        <%= f.label :gender, "Gender", :class => "label-email" %>
        <%= f.select(:gender, options_for_select([['Male', 'Male'], ['Female', 'Female']]), {:prompt => 'Select your gender' }, { class: 'select-gender' }) %>

        <%= f.label :address, "Address", :class => "label-email" %>
        <%= f.text_field :address, placeholder: "Type your address", :class => "Rectangle-6" %>
        
        <div class="field-password">
          <%= f.label :password, "Password", :class => "label-email"%>
          <label class="required-password">(minimum 6 characters)</label>
        </div>
        <%= f.password_field :password, placeholder: "Type your password", :class => "Rectangle-6"  %>

      <div class="actions">
        <%= f.submit "SIGN UP", class:"btn-login-background" %>
      </div>
    <% end %>
  </div>
  <b class="dont-have-account">Already have an account? <a class="text-style-1" href="/users/sign_in"> Sign in</a></b>


</div>
