<div class="footer-clean">
        <footer>
            <div class="container-footer">
                <div class="row justify-content-center">
                    <div class="col-sm-2 col-md-2 item brands">
                        <h3>Brands</h3>
                        <ul>
                            <li><a href="#">Adidas</a></li>
                            <li><a href="#">Puma</a></li>
                            <li><a href="#">Reebok</a></li>
                            <li><a href="#">Nike</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-2 col-md-2 item company">
                        <h3>Company</h3>
                        <ul>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Find a Store</a></li>
                            <li><a href="#">Rules and Terms</a></li>
                            <li><a href="#">Sitemap</a></li>
                            <li><a href="#">Career</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-2 col-md-2 item help">
                        <h3>Help</h3>
                        <ul>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Money Refund</a></li>
                            <li><a href="#">Order Status</a></li>
                            <li><a href="#">Shipping Info</a></li>
                            <li><a href="#">Open Dispute</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-2 col-md-2 item help">
                        <h3>Account</h3>
                        <ul>
                            <li><a href="#">Login</a></li>
                            <li><a href="#">Register</a></li>
                            <li><a href="#">Account Setting</a></li>
                            <li><a href="#">My Orders</a></li>
                        </ul>
                    </div>
                     <div class="col-sm-2 col-md-2 item social">
                        <h3>Social</h3>
                        <ul>
                            <li><%= image_tag("icon-facebook.png", :class => "icon-facebook") %><a class="social" href="#">Facebook</a></li>
                            <li><%= image_tag("icon-twitter.png", :class => "icon-twitter") %><a class="social" href="#">Twitter</a></li>
                            <li><%= image_tag("icon-instagram.png", :class => "icon-facebook") %><a class="social" href="#">Instagram</a></li>
                            <li><%= image_tag("icon-youtube.png", :class => "icon-youtube") %><a class="social" href="#">Youtube</a></li>
                        </ul>
                    </div>
                    <div class="col-12 hr-footer "></div>
                    <div class="under-hr-footer">
                        <div class="col-sm-4 col-md-4">
                            <h4 class="container-footer-uno">© 2019 Pixsellz. All rights reserved.</h4>
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <h4 class="container-footer-dos info">info@pixsellz.io</h4>
                            <h4 class="container-footer-dos">879-332-9375</h4>
                            <h4 class="container-footer-dos">456 Hagenes Gardens Suite 808</h4>
                        </div>
                        <div class="col-sm-3 col-md-3 icons-pay-methods">
                            <div class="icon-footer american-express-margin">
                             <%= image_tag("logo-american-express@3x.png", :class => "icon-american-express icon-footer-pay-methods") %>
                            </div>
                            <div class="icon-footer">
                             <%= image_tag("logo-mastercard.png", :class => "icon-mastercard icon-footer-pay-methods") %>
                            </div>
                            <div class="icon-footer">
                             <%= image_tag("logo-paypal.png", :class => "icon-paypal icon-footer-pay-methods") %>
                            </div>
                            <div class="icon-footer">
                                <%= image_tag("logo-visa.png", :class => "icon-visa icon-footer-pay-methods") %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>