<div class="login-grey-background">
  <div class="login-white-container">
  <%= image_tag("logo-loopcommerce@3x.png", :class => "logo-loopcommerce") %>
  <%= image_tag("loopcommerce@3x.png", :class => "Loopcommerce") %>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= f.label :email , "Email", :class => "label-email" %>
    <%= f.email_field :email, autocomplete: "email", placeholder: "Type your email", :class => "Rectangle-6" %>
    <%= f.label :email , "Password", :class => "label-email"%>
    <a class="forgot-password" href="/users/password/new">Forgot password?</a>
    <%= f.password_field :password, autocomplete: "current-password", placeholder: "Type your password", :class => "Rectangle-6" %>
    <div class="actions">
      <%= f.submit "LOGIN", class:"btn-login-background" %>
    </div>
  <% end %>
  </div>
  <b class="dont-have-account">Don't have an account? <a class="text-style-1" href="/users/sign_up"> Create one here</a></b>
</div>
