<p class="text-arrivals">New Arrivals</p>
<div class="container-products">
    <% @products.each do |product| %>
        <%= link_to product_path(product.id) do %>
            <div class="products-home">
                <%= image_tag(url_for(product.image), :class => "img-products") %>
                <div class="line-product"></div>
                <p class="title-products font-styles-products"><%= label_tag (product.name)%></p>
                <p class="price-products"><%= number_to_currency(product.price)%></p>
                <%= link_to "ADD TO CART", line_items_path(product_id: product), class:"btn btn-primary-login add-to-cart-button", method: :post %>
            </div>
        <% end %>
    <%end%>
</div>
<div class="pagy">
<%== pagy_bootstrap_nav(@pagy) %>
</div>
